<div th:fragment="chordSelector">
    <div id="chordSelector"
         class="hidden z-[1000] absolute left-0 top-1/2 w-[200px] h-[366px] overflow-y-auto border border-gray-100 p-2 bg-white rounded-lg shadow-lg tracking-normal">
        <input type="text" id="chordSearch"
               class="input input-bordered input-sm w-full rounded-md my-2 placeholder:text-[13px]" placeholder="코드 검색"
               oninput="filterChords(event)"
               onkeydown="checkEnter(event)"
        />

        <div id="filteredChords"
             class="hidden border-t h-[300px] overflow-y-auto border-gray-200 p-2 text-[13px] tracking-normal">
        </div>
    </div>

    <script>
        // 기타 코드 데이터
        const chordData = {
            "A 코드": [
                 "A", "A#", "A#7", "A#9", "A#M7", "A#m", "A#m7", "A#sus4", "A13", "A5",
                 "A6", "A7", "A7sus4", "A9", "AM7", "Aadd9", "Aaug", "Ab", "Abm", "Adim",
                 "Am", "Am11", "Am6", "Am7", "Am7/G", "Am9", "Asus2", "Asus4"
            ],
            "B 코드": [
                 "B", "B#", "B#7", "B#9", "B#M7", "B#m", "B#m7", "B#sus4", "B13", "B5",
                 "B6", "B7", "B7sus4", "B9", "BM7", "Badd9", "Baug", "Bb", "Bbm", "Bdim",
                 "Bm", "Bm11", "Bm6", "Bm7", "Bm7/G", "Bm9", "Bsus2", "Bsus4"
            ],
            "C 코드": [
                 "C", "C#", "C#7", "C#9", "C#M7", "C#m", "C#m7", "C#sus4", "C13", "C5",
                 "C6", "C7", "C7sus4", "C9", "CM7", "Cadd9", "Caug", "Cb", "Cbm", "Cdim",
                 "Cm", "Cm11", "Cm6", "Cm7", "Cm7/G", "Cm9", "Csus2", "Csus4"
            ],
            "D 코드": [
                 "D", "D#", "D#7", "D#M7", "D#m", "D#m7", "D#sus4", "D/F#", "D13", "D5",
                 "D6", "D7", "D7sus4", "D9", "DM7", "Dadd9", "Daug", "Db", "Dbm", "Ddim",
                 "Dm", "Dm6", "Dm7", "Dsus2", "Dsus4"
            ],
            "E 코드": [
                 "E", "E#", "E#7", "E#M7", "E#m", "E#m7", "E#sus4", "E13", "E5", "E6",
                 "E7", "E7sus4", "E9", "EM7", "Eadd9", "Eaug", "Eb", "Ebm", "Edim", "Em",
                 "Em6", "Em7", "Esus2", "Esus4"
            ],
            "F 코드": [
                 "F", "F#", "F#7", "F#M7", "F#m", "F#m7", "F#m7-5", "F#sus4", "F13", "F5",
                 "F6", "F7", "F9", "FM7", "Fadd9", "Faug", "Fb", "Fbm", "Fdim", "Fm",
                 "Fm6", "Fm7", "Fsus2", "Fsus4"
            ],
            "G 코드": [
                 "G", "G#", "G#7", "G#M7", "G#m", "G#m7", "G#sus4", "G/B", "G13", "G5",
                 "G6", "G7", "G9", "GM7", "Gadd9", "Gaug", "Gb", "Gbm", "Gdim", "Gm",
                 "Gm6", "Gm7", "Gsus2", "Gsus4"
            ]
        };

        // 코드 선택기 목록 전연 변수로 정의
        let ulElement;

        // 코드 선택 박스를 동적으로 생성
        function createChordSelector() {
            const chordSelector = document.getElementById('chordSelector');
            ulElement = document.createElement('ul');
            ulElement.className = 'menu menu-xs w-full';

            // 코드 삭제 버튼
            const deleteLiElement = document.createElement('li');
            const deleteLinkElement = document.createElement('a');
            deleteLinkElement.textContent = "코드 제거";
            deleteLinkElement.dataset.chord = null;

            deleteLiElement.appendChild(deleteLinkElement);
            ulElement.appendChild(deleteLiElement);

            // 코드 목록 생성
            Object.keys(chordData).forEach((chordGroup) => {
                const liElement = document.createElement('li');
                const detailsElement = document.createElement('details');

                // C 코드만 open 속성을 추가
                if (chordGroup === "C 코드") {
                    detailsElement.setAttribute('open', 'open');
                }

                const summaryElement = document.createElement('summary');
                summaryElement.textContent = chordGroup;

                // 서브 목록 생성
                const subUlElement = document.createElement('ul');
                chordData[chordGroup].forEach((chord) => {
                    const subLiElement = document.createElement('li');
                    const linkElement = document.createElement('a');
                    linkElement.textContent = chord;
                    subLiElement.appendChild(linkElement);
                    subUlElement.appendChild(subLiElement);
                });

                detailsElement.appendChild(summaryElement);
                detailsElement.appendChild(subUlElement);
                liElement.appendChild(detailsElement);
                ulElement.appendChild(liElement);
            });

            chordSelector.appendChild(ulElement);
        }

        // 코드 검색 및 필터링
        function filterChords(event) {

            // 입력된 키워드 한글자
            const inputChar = event.data || '';

            // 누적된 키워드 (실시간 최종 검색어)
            const searchTerm = event.target.value;

            // 검색어와 일치하는 코드만 담을 객체 정의
            const filteredChordData = {};

            // 검색어가 chordData에 있는지 확인 후 있는 데이터를 위 객체에 담기
            Object.keys(chordData).forEach(chordGroup => {
               const chords = chordData[chordGroup];

               const matchingChords = chords.filter(chord => chord.includes(searchTerm));

               if (matchingChords.length > 0) {
                   filteredChordData[chordGroup] = matchingChords;
               }
            });

            // 필터링된 결과를 화면에 표시
            const filteredChordDiv = document.getElementById('filteredChords');

             // 기존 내용을 초기화
            filteredChordDiv.innerHTML = '';

           // 검색어가 없으면 코드 선택기 목록 표시
            if (searchTerm === null || !searchTerm || Object.keys(filteredChordData).length === 0) {
                filteredChordDiv.classList.add('hidden');
                ulElement.classList.remove('hidden');
                return;
            }

            // 검색어가 있으면 코드 선택기 목록 숨김
            filteredChordDiv.classList.remove('hidden');
            ulElement.classList.add('hidden');

            // 필터링된 결과를 <div>에 추가
            Object.keys(filteredChordData).forEach(chordGroup => {
                const chordList = document.createElement('div');
                chordList.classList.add('flex', 'flex-col');

                filteredChordData[chordGroup].forEach(chord => {
                    const listItem = document.createElement('a');
                    listItem.textContent = chord;
                    listItem.classList.add('hover:bg-zinc-100', 'px-2', 'rounded', 'cursor-pointer');
                    chordList.appendChild(listItem);
                });
                filteredChordDiv.appendChild(chordList);
            });
        }

        // 검색어 입력 중 엔터 눌렀을 때 이벤트 제한
        function checkEnter(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        }

        // DOMContentLoaded 이벤트 발생 시 코드 선택 박스를 생성
        document.addEventListener("DOMContentLoaded", createChordSelector);
    </script>
</div>
