<div th:fragment="chordSelector" id="chordSelector"
     class="hidden z-[1000] absolute left-0 top-1/2 w-[120px] h-[250px] overflow-y-auto p-1 bg-white rounded-lg shadow-lg">
    <ul class="menu menu-xs w-full">
        <li>
            <details open>
                <summary>
                    A 코드
                </summary>
                <ul>
                    <li><a>A</a></li>
                    <li><a>Am</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    B 코드
                </summary>
                <ul>
                    <li><a>B</a></li>
                    <li><a>Bm</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    C 코드
                </summary>
                <ul>
                    <li><a>C</a></li>
                    <li><a>Cm</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>
