<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headFragment">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow">
        <link rel="icon" href="https://www.frety.me/favicon.ico" type="image/x-icon"/>

        <!-- daisy UI CDN / tailwind CSS CDN-->
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>

        <!-- style CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

        <!--svguitar-->
        <script src="https://omnibrain.github.io/svguitar/js/svguitar.umd.js"></script>

        <!--Google Search Console(사이트 색인)-->
        <meta name="google-site-verification" content="M--jRwaogWtTTKyxW0yjKvV1U9fq7dbP9VHd7c3nPoc" />
    </head>
</th:block>
</html>