<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="px-5 space-y-10">
        <div>
            <div class="space-y-1 border-b pb-3">
                <div class="text-4xl font-bold" th:text="${chord.song}"></div>
                <div class="text-zinc-500" th:text="${chord.artist}"></div>
            </div>

            <div class="flex justify-end pt-2">
                <div class="w-full sm:w-[40%] border rounded-lg p-3">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center space-x-1 text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="size-5">
                                <path fill-rule="evenodd"
                                      d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <div th:if="${chord.author != null}" th:text="${chord.author.username}"></div>
                        </div>

                        <div sec:authorize="isAuthenticated()"
                             th:if="${chord.author != null and #authentication.getPrincipal().getUsername() == chord.author.username}"
                             class="dropdown dropdown-end">
                            <div tabindex="0" role="button" class="btn btn-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="size-5">
                                    <path d="M3 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM8.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM15.5 8.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"/>
                                </svg>
                            </div>
                            <ul tabindex="0"
                                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-[73px] p-2 shadow">
                                <li>
                                    <a th:href="@{|/chord/edit/${chord.id}|}"
                                       th:text="수정">
                                    </a>
                                </li>
                                <li>
                                    <button type="button" onclick="deleteMethod(this)"
                                            th:data-uri="@{|/chord/delete/${chord.id}|}"
                                            th:text="삭제">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="flex items-center space-x-2 text-sm">
                        <div>등록일</div>
                        <div th:if="${chord.createAt != null}"
                             th:text="${#temporals.format(chord.createAt, 'yyyy.MM.dd HH:mm')}"></div>
                    </div>

                    <div class="flex items-center space-x-2 text-sm">
                        <div>수정일</div>
                        <div th:if="${chord.updateAt != null}"
                             th:text="${#temporals.format(chord.updateAt, 'yyyy.MM.dd HH:mm')}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-20" th:text="${chord.content}"></div>

        <!-- 댓글 작성 폼 -->
        <form th:action="@{|/comment/create/${chord.id}|}"
              method="post"
              th:object="${commentCreateForm}"
              class="flex flex-col items-end space-y-3"
        >
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <!--로그아웃 상태면 작성불가능-->
            <textarea
                    sec:authorize="isAnonymous()" disabled
                    th:field="*{commentContent}"
                    class="textarea textarea-bordered w-full h-40 min-h-40 max-h-80"
                    placeholder="댓글을 남겨보세요!"
                    name="commentContent"
                    rows="15">
            </textarea>

            <!--로그인 상태면 작성가능-->
            <textarea
                    sec:authorize="isAuthenticated()"
                    th:field="*{commentContent}"
                    class="textarea textarea-bordered w-full h-40 min-h-40 max-h-80"
                    placeholder="댓글을 남겨보세요!"
                    name="commentContent"
                    rows="15">
            </textarea>

            <input class="btn" type="submit" value="등록"/>
        </form>

        <!-- 댓글 목록 -->
        <div class="space-y-3">
            <div th:text="|${#lists.size(chord.comments)}개의 댓글|"></div>

            <!-- 댓글이 없을 경우 -->
            <div th:if="${#lists.isEmpty(chord.comments)}"
                 class="flex bg-zinc-50 text-[15px] text-gray-500 justify-center items-center p-5 rounded-lg h-40">
                댓글이 없습니다.
            </div>

            <!-- 댓글이 있을 경우 -->
            <div th:each="comment: ${chord.comments}" class="border rounded-lg p-5">
                <div class="flex justify-end">
                    <!-- 댓글에 데이터 속성을 추가해서 chord.id와 comment.id 값을 넣어줌 -->
                    <button class="btn btn-sm tracking-wide"
                            th:attr="chordId=${chord.id}, commentId=${comment.id}"
                            onclick="openReplyModal(this)">답글달기
                    </button>
                </div>

                <div class="chat chat-start space-y-1">
                    <div class="chat-header flex ml-1 items-center space-x-1">
                        <div th:if="${comment.author != null}" th:text="${comment.author.username}"
                             class="text-[14px]"></div>
                        <time th:text="${#temporals.format(comment.createdAt,'yyyy.MM.dd HH:mm')}"
                              class="text-xs opacity-50"></time>
                    </div>
                    <div th:text="${comment.content}" class="chat-bubble text-[15px] flex items-center"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteMethod(element) {
            const uri = element.dataset.uri;

            if (confirm("정말 코드를 삭제하시겠습니까?")) {
                location.href = uri
            }
        }
    </script>
</div>
</html>
