<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"></title>
    <meta th:attr="content=${title}" name="title">
    <meta th:attr="content=${description}" name="description">
</head>

<body>
<div layout:fragment="content">
    <div class="space-y-10">
        <div class="space-y-1 border-b pb-3">
            <div class="text-4xl font-bold">악보 수정</div>
            <div class="text-zinc-500">악보 수정을 통해 완성도 높은 악보를 만들어 보세요.</div>
        </div>

        <form method="post" th:object="${chordCreateForm}" id="chordCreateForm" class="space-y-10">
            <!-- CSRF 값 설정 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <!-- 객체-배열 형태로 파싱된 데이터를 hidden 속성 사용하여 백엔드로 전달 -->
            <input type="hidden" id="lyricsDataInput" name="content"/>

            <!-- JSON 데이터를 히든 필드에 저장 -->
            <input type="hidden" id="chordEditForm" th:value="${chordCreateForm.content}"/>

            <div class="space-y-3">
                <label class="input input-bordered flex items-center gap-2">
                    Artist
                    <input type="text" id="artist" th:field="*{artist}" class="grow"/>
                </label>

                <label class="input input-bordered flex items-center gap-2">
                    Song
                    <input type="text" id="song" th:field="*{song}" class="grow"/>
                </label>

                <div class="flex space-x-2">
                    <!--카포 선택 박스-->
                    <div th:replace="~{fragments/capoSelector :: capoSelector}"></div>
                    <!--주법 선택 박스-->
                    <div th:replace="~{fragments/playingStylesSelector :: playingStylesSelector}"></div>
                </div>
            </div>

            <!-- 악보 수정 방법 -->
            <div>
                <div class="flex space-x-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd"
                              d="M17.721 1.599a.75.75 0 0 1 .279.583v11.29a2.25 2.25 0 0 1-1.774 2.2l-2.041.44a2.216 2.216 0 0 1-.938-4.332l2.662-.577a.75.75 0 0 0 .591-.733V6.112l-8 1.73v7.684a2.25 2.25 0 0 1-1.774 2.2l-2.042.44a2.216 2.216 0 1 1-.935-4.331l2.659-.573A.75.75 0 0 0 7 12.529V4.236a.75.75 0 0 1 .591-.733l9.5-2.054a.75.75 0 0 1 .63.15Z"
                              clip-rule="evenodd"/>
                    </svg>
                    <div class="text-sm font-semibold">악보 수정 방법</div>
                </div>
                <div class="text-sm ml-1.5 space-y-1">
                    <div class="ml-5">1. 수정하고자 하는 <span class="font-bold">음절</span>을 클릭하여, <span class="font-bold">기타 코드</span>를 수정하세요. (공백에도 수정 가능)</div>
                    <div class="ml-5">2. 가사와 코드를 새로 추가할 수 있습니다.</div>
                    <div class="ml-5">3. 악보 수정을 마쳤다면, <span class="font-bold">악보 수정 버튼</span>을 눌러 수정된 가사를  <span class="font-bold">Frety</span>에 공유해 보세요!</div>
                </div>
            </div>

            <!-- 코드 지정가능한 가사 한 행 업로드 -->
            <div id="uploadedLyrics"
                 class="flex flex-col relative text-xl space-y-10 tracking-widest">

                <!--코드 선택 박스-->
                <div th:replace="~{fragments/chordSelector :: chordSelector}"></div>
            </div>

            <!--가사 입력 칸-->
            <textarea id="content" class="textarea textarea-bordered w-full h-[400px] text-center"
                      placeholder="줄바꿈 : Shift + Enter / 업로드 : Enter / 코드 선택기 닫기 : ESC"
                      onkeydown="handleEnter(event)"
            ></textarea>

            <div th:replace="~{fragments/form_errors :: formErrorsFragment}"></div>

            <input type="submit" value="악보 수정" class="btn btn-neutral w-full"/>
        </form>
    </div>

    <script>
        const lyricsData = []; // 각 음절과 코드 데이터를 관리할 배열
        let selectedSyllable = null; // 현재 선택된 음절을 저장할 변수
        const uploadedLyrics = document.getElementById('uploadedLyrics');

        // 기존 가사 행 수정
        document.addEventListener("DOMContentLoaded", function () {
            // 히든 필드에서 JSON 데이터를 가져오기
            const contentJson = document.getElementById('chordEditForm').value;

            // JSON 문자열을 JavaScript 객체로 파싱
            let contentList = JSON.parse(contentJson);

            // 데이터를 표시할 컨테이너 요소 가져오기
            const contentContainer = document.getElementById('uploadedLyrics');

            // 각 음절 객체를 div 태그로 동적으로 추가
            contentList.forEach((syllableRow, rowIndex) => {
                // 각 행을 위한 div 생성
                const lineContainer = document.createElement('div');
                lineContainer.className = 'flex items-center tracking-wide';

                // 현재 행 데이터 배열 생성
                const lineData = [];

                syllableRow.forEach((syllable) => {
                    // 각 음절을 위한 span 생성
                    const syllableSpan = document.createElement('span');
                    syllableSpan.className = 'relative hover:bg-green-700 hover:bg-opacity-40 cursor-pointer inline-block tracking-wide';
                    syllableSpan.innerHTML = syllable.text === ' ' ? '&nbsp;&nbsp;&nbsp;' : syllable.text;

                    // 각 음절을 객체로 관리
                    const syllableObject = {
                        text: syllable.text,
                        chord: syllable.chord
                    };

                    // 코드 표시를 위한 span 생성
                    if (syllable.chord) {
                        const chordSpan = document.createElement('span');
                        chordSpan.className = `chord absolute text-[14.5px] -top-[1.7em] ${syllable.chord.length=== 1 && 'left-0.5 w-[20px]'} ${syllable.chord.length=== 2 && '-left-[2px] w-[20px]'} ${syllable.chord.length=== 3 && '-left-[8px] w-[40px]'} ${syllable.chord.length=== 4 && '-left-[9px] w-[50px]'} ${syllable.chord.length=== 5 && '-left-[12px] w-[60px]'} ${syllable.chord.length=== 6 && '-left-[16px] w-[60px]'} font-semibold tracking-tighter`;
                        chordSpan.textContent = syllable.chord;
                        syllableSpan.appendChild(chordSpan);
                    }

                    // 클릭 이벤트 추가 (기타 코드 지정용)
                    syllableSpan.onclick = function () {
                        // 이전에 선택된 음절이 있으면 선택 해제
                        if (selectedSyllable) {
                            selectedSyllable.classList.remove('bg-green-700', 'bg-opacity-40');
                        }

                        // 현재 클릭된 음절을 선택하고 스타일 추가
                        selectedSyllable = syllableSpan;
                        selectedSyllable.classList.add('bg-green-700', 'bg-opacity-40');

                        // 코드 선택기 표시 및 위치 조정
                        const chordSelector = document.getElementById('chordSelector');

                        // hidden 클래스를 제거하여 chordSelector의 높이를 계산할 수 있도록 함
                        chordSelector.classList.remove('hidden');

                        const syllableRect = syllableSpan.getBoundingClientRect();

                        // 셀렉트 박스의 위치
                        chordSelector.style.top = `${syllableRect.top + window.scrollY - chordSelector.offsetHeight - 200}px`;

                        // 현재 브라우저의 크기에 맞춰서 left 지정
                        const screenWidth = window.innerWidth;
                        if(screenWidth >= 1536) {
                            chordSelector.style.left = `${syllableRect.left + window.scrollX - chordSelector.offsetWidth - 220}px`;
                        } else if(screenWidth >= 1024) {
                            chordSelector.style.left = `${syllableRect.left + window.scrollX - chordSelector.offsetWidth - -100}px`;
                        }else if(screenWidth < 1024) {
                            chordSelector.style.left = `${syllableRect.left + window.scrollX - chordSelector.offsetWidth - -160}px`;
                        }

                        // 기존 코드 선택기를 클릭할 때마다 새로 설정하도록 이벤트 설정
                        chordSelector.onclick = function (e) {
                            if (e.target.tagName === 'A') { // li-a 태그라면

                                // 선택된 코드를 syllableObject에 저장
                                syllableObject.chord = e.target.textContent;

                                // 기존 코드가 있다면 가져오기
                                let existingChord = syllableSpan.querySelector('.chord');

                                // 코드 제거 선택 시 chord === null
                                if(syllableObject.chord === "코드 제거"){
                                    syllableObject.chord = null;
                                    existingChord.remove(); // 코드 표시 제거
                                }

                                // 기존 코드가 있다면 대체
                                if (existingChord) {
                                    existingChord.textContent = `${syllableObject.chord}`;
                                    existingChord.className = `chord absolute text-[14.5px] -top-[1.7em] ${syllable.chord.length=== 1 && 'left-0.5 w-[20px]'} ${syllable.chord.length=== 2 && '-left-[2px] w-[20px]'} ${syllable.chord.length=== 3 && '-left-[8px] w-[40px]'} ${syllable.chord.length=== 4 && '-left-[9px] w-[50px]'} ${syllable.chord.length=== 5 && '-left-[12px] w-[60px]'} ${syllable.chord.length=== 6 && '-left-[16px] w-[60px]'} font-semibold tracking-tighter`;
                                } else {
                                    // 코드가 처음으로 추가될 경우
                                    const chordSpan = document.createElement('span');
                                    chordSpan.textContent = `${syllableObject.chord}`;
                                    chordSpan.className = `chord absolute text-[14.5px] -top-[1.7em] ${syllable.chord.length=== 1 && 'left-0.5 w-[20px]'} ${syllable.chord.length=== 2 && '-left-[2px] w-[20px]'} ${syllable.chord.length=== 3 && '-left-[8px] w-[40px]'} ${syllable.chord.length=== 4 && '-left-[9px] w-[50px]'} ${syllable.chord.length=== 5 && '-left-[12px] w-[60px]'} ${syllable.chord.length=== 6 && '-left-[16px] w-[60px]'} font-semibold tracking-tighter`;
                                    syllableSpan.appendChild(chordSpan);
                                }

                                // 코드 선택기 숨김
                                chordSelector.classList.add('hidden');

                                // 검색창 데이터 초기화
                                const chordSearchInput = document.getElementById('chordSearch');
                                chordSearchInput.value = '';

                                // 필터링된 결과 초기화
                                const filteredChordDiv = document.getElementById('filteredChords');
                                filteredChordDiv.innerHTML = '';

                                // 검색어가 없거나 필터링된 결과가 없으면 코드 목록 다시 표시
                                if (!chordSearchInput.value || Object.keys(filteredChordData).length === 0) {
                                    filteredChordDiv.classList.add('hidden');
                                    ulElement.classList.remove('hidden');
                                }
                            }
                        };
                    };

                    // lineData 배열에 syllableObject 추가
                    lineData.push(syllableObject);

                    // 한 음절씩 나눈 가사를 행 컨테이너에 추가
                    lineContainer.appendChild(syllableSpan);
                });

                // 한 행 삭제 버튼
                removeLine(lineContainer, lineData);

                // 전체 가사 데이터에 현재 행 데이터 추가
                lyricsData.push(lineData);

                contentContainer.appendChild(lineContainer);
            });
        });

        // 수정 완료 버튼 누를 때 백엔드로 전송되기 전 객체-배열 을 json문자열로 변환하여 input태그에 설정
        document.getElementById('chordCreateForm').addEventListener('submit', function () {
            const lyricsDataInput = document.getElementById('lyricsDataInput');
            lyricsDataInput.value = JSON.stringify(lyricsData);
        });
    </script>

    <!--한글 입력 시 반복문제 해결-->
    <script src="/script/handleComposing.js"></script>

    <!--가사 입력-->
    <script src="/script/handleEnter.js"></script>

    <!--음절 클릭-->
    <script src="/script/handleSyllable.js"></script>

    <!--한 행씩 업로드-->
    <script src="/script/addLineToView.js"></script>

    <!--코드 선택-->
    <script src="/script/selectedChord.js"></script>

    <!--한 행 삭제-->
    <script src="/script/removeLine.js"></script>
</div>
</body>
</html>
