<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="space-y-10">
        <div class="space-y-1 border-b pb-3">
            <div class="text-4xl font-bold">코드 등록</div>
            <div class="text-zinc-500">Chordric에 기타 코드를 직접 등록하고, 다른 사람들과 공유해보세요</div>
        </div>

        <form method="post" th:object="${chordCreateForm}" class="space-y-10">
            <!--th:action 속성을 삭제 후 CSRF 값 설정-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="space-y-3">
                <label class="input input-bordered flex items-center gap-2">
                    Artist
                    <input type="text" id="artist" th:field="*{artist}" class="grow"/>
                </label>

                <label class="input input-bordered flex items-center gap-2">
                    Song
                    <input type="text" id="song" th:field="*{song}" class="grow"/>
                </label>
            </div>

            <label class="input input-bordered flex items-center gap-2">
                코드
                <input type="text" id="content" th:field="*{content}" class="grow"/>
            </label>

            <div th:replace="~{form_errors :: formErrorsFragment}"></div>

            <input type="submit" value="등록" class="btn w-full"/>
        </form>
    </div>
</div>
</html>
