<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="space-y-10">
        <div class="space-y-1 border-b pb-3">
            <div class="text-4xl font-bold">Chordric</div>
            <div class="text-zinc-500">세상에 단 하나뿐인 당신의 기타 코드</div>
        </div>

        <div>
            <div class="flex justify-end">
                <a class="btn" th:href="@{/chord/create}">코드 등록</a>
            </div>

            <div role="tablist" class="tabs tabs-lifted">

                <!--최근 등록된 코드-->
                <input
                        type="radio"
                        name="my_tabs_2"
                        role="tab"
                        class="tab"
                        aria-label="최근 등록된 코드"
                        th:checked="${activeTab == 'latest'}"
                        th:attr="data-current-page=${currentPage}"
                        onclick="locationToTab('latest', this.getAttribute('data-current-page'))"

                />
                <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 space-y-7">
                    <div class="overflow-x-auto">
                        <table class="table">
                            <thead>
                            <tr class="text-[15px] text-center tracking-wide">
                                <th>NO</th>
                                <th>가수</th>
                                <th>제목</th>
                                <th>등록일</th>
                                <th>작성자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="chord : ${latestChords}"
                                th:attr="data-href=@{|/chord/${chord.id}|}"
                                onclick="window.location.href=this.getAttribute('data-href')"
                                class="hover:bg-gray-100 text-[15px] text-center cursor-pointer tracking-wide">
                                <td th:text="${chord.id}"></td>
                                <td th:text="${chord.artist}"></td>
                                <td class="flex items-center justify-center space-x-2">
                                    <div th:text="${chord.song}"></div>
                                    <div class="flex bg-neutral rounded text-white text-[11px] w-5 h-5 items-center justify-center"
                                         th:if="${#lists.size(chord.comments) > 0}"
                                         th:text="${#lists.size(chord.comments)}"></div>
                                </td>
                                <td th:text="${#temporals.format(chord.createAt, 'yyyy.MM.dd')}"></td>
                                <td th:if="${chord.author != null}" th:text="${chord.author.username}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--페이징처리-->
                    <div class="join flex justify-center" th:if="${!latestChords.isEmpty()}">
                        <button class="join-item btn btn-xs"
                                th:classappend="${!latestChords.hasPrevious()} ? 'btn-disabled'">
                            <a th:href="@{|/list?activeTab=latest&page=${currentPage - 1}|}">이전</a>
                        </button>

                        <button class="join-item btn btn-xs"
                                th:each="page: ${#numbers.sequence(0, latestChords.totalPages-1)}"
                                th:if="${page >= currentPage-5 and page <= currentPage+5}"
                                th:classappend="${page == latestChords.number} ? 'btn-active'">
                            <a th:text="${page}" th:href="@{|/list?activeTab=latest&page=${page}|}"></a>
                        </button>

                        <button class="join-item btn btn-xs"
                                th:classappend="${!latestChords.hasNext()} ? 'btn-disabled'">
                            <a th:href="@{|/list?activeTab=latest&page=${currentPage + 1}|}">다음</a>
                        </button>
                    </div>
                </div>

                <!--인기 코드 (댓글이 가장 많은 코드)-->
                <input
                        type="radio"
                        name="my_tabs_2"
                        role="tab"
                        class="tab"
                        aria-label="인기 코드"
                        th:checked="${activeTab == 'popular'}"
                        th:attr="data-current-page=${currentPage}"
                        onclick="locationToTab('popular', this.getAttribute('data-current-page'))"
                />
                <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 space-y-7">
                    <div class="overflow-x-auto">
                        <table class="table">
                            <thead>
                            <tr class="text-[15px] text-center tracking-wide">
                                <th>NO</th>
                                <th>가수</th>
                                <th>제목</th>
                                <th>등록일</th>
                                <th>작성자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="chord : ${popularChords}"
                                th:attr="data-href=@{|/chord/${chord.id}|}"
                                onclick="window.location.href=this.getAttribute('data-href')"
                                class="hover:bg-gray-100 text-[15px] text-center cursor-pointer tracking-wide">
                                <td th:text="${chord.id}"></td>
                                <td th:text="${chord.artist}"></td>
                                <td class="flex items-center justify-center space-x-2">
                                    <div th:text="${chord.song}"></div>
                                    <div class="flex bg-neutral rounded text-white text-[11px] w-5 h-5 items-center justify-center"
                                         th:if="${#lists.size(chord.comments) > 0}"
                                         th:text="${#lists.size(chord.comments)}"></div>
                                </td>
                                <td th:text="${#temporals.format(chord.createAt, 'yyyy.MM.dd')}"></td>
                                <td th:text="작성자"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--페이징처리-->
                    <div class="join flex justify-center" th:if="${!popularChords.isEmpty()}">
                        <button class="join-item btn btn-xs"
                                th:classappend="${!popularChords.hasPrevious()} ? 'btn-disabled'">
                            <a th:href="@{|/list?activeTab=popular&page=${currentPage - 1}|}">이전</a>
                        </button>

                        <button class="join-item btn btn-xs"
                                th:each="page: ${#numbers.sequence(0, popularChords.totalPages-1)}"
                                th:if="${page >= currentPage-5 and page <= currentPage+5}"
                                th:classappend="${page == popularChords.number} ? 'btn-active'">
                            <a th:text="${page}" th:href="@{|/list?activeTab=popular&page=${page}|}"></a>
                        </button>

                        <button class="join-item btn btn-xs"
                                th:classappend="${!popularChords.hasNext()} ? 'btn-disabled'">
                            <a th:href="@{|/list?activeTab=popular&page=${currentPage + 1}|}">다음</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function locationToTab(tab, currentPage) {
            window.location.href = `/list?activeTab=${tab}&page=${currentPage}`;
        }
    </script>
</div>
</html>
