<div th:fragment="navbarFragment" xmlns:layout="" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-content flex flex-col">
            <div class="navbar bg-base-100 w-full">
                <div class="flex-1">
                    <a th:href="@{/}" class="btn btn-ghost text-xl">Chordric</a>
                </div>

                <div class="hidden flex-none lg:block">
                    <ul class="menu menu-horizontal">
                        <form th:action="@{/search}" method="get"
                              class="border rounded-lg flex items-center w-[350px] gap-2 pl-3 pr-1 py-1 mr-1">
                            <input name="keyword" type="text" class="grow outline-none" placeholder="Search"/>
                            <button type="submit">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        fill="currentColor"
                                        class="h-7 w-7 p-1 hover:bg-base-200 active:scale-90 duration-100 rounded-lg">
                                    <path
                                            fill-rule="evenodd"
                                            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                            clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </form>

                        <li>
                            <a th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
                            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>

                        <li><a th:href="@{/signup}">회원가입</a></li>
                    </ul>
                </div>

                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="inline-block h-6 w-6 stroke-current">
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
            </div>

            <!--body content-->
            <div class="min-w-screen min-h-[100vh] mx-3 lg:mx-20 2xl:mx-[400px] mt-10 mb-20">
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>

        <!--drawer content-->
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-100 min-h-full w-80 p-4">
                <li>
                    <a th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                </li>

                <li><a th:href="@{/signup}">회원가입</a></li>
            </ul>
        </div>
    </div>
</div>