<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="px-5 space-y-5">
        <div class="space-y-1 border-b pb-3">
            <div class="text-4xl font-bold" th:text="${keyword != null && !keyword.isEmpty()} ? ${keyword} : '검색어를 입력하세요'"></div>

            <div class="text-zinc-500">검색결과</div>
        </div>

        <div th:if="${results.isEmpty()}">
            <p class="text-center text-gray-600 text-sm py-20">검색 결과가 없습니다.</p>
        </div>

        <div th:if="${!results.isEmpty()}">
            <div class="overflow-x-auto p-2">
                <table class="table">
                    <thead>
                    <tr class="text-[15px] text-center tracking-wide">
                        <th>NO</th>
                        <th>Artist</th>
                        <th>Song</th>
                        <th>작성자</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chord : ${results.content}"
                        th:attr="data-href=@{|/chord/${chord.id}|}"
                        onclick="window.location.href=this.getAttribute('data-href')"
                        class="hover:bg-gray-100 text-[15px] text-center cursor-pointer tracking-wide">
                        <td th:text="${chord.id}"></td>
                        <td th:text="${chord.artist}"></td>
                        <td class="flex items-center justify-center space-x-2">
                            <div th:text="${chord.song}"></div>
                            <div class="flex bg-neutral rounded text-white text-[11px] w-5 h-5 items-center justify-center"
                                 th:if="${#lists.size(chord.comments) > 0}"
                                 th:text="${#lists.size(chord.comments)}"></div>
                        </td>
                        <td th:if="${chord.author != null}" th:text="${chord.author.username}"></td>
                        <td th:text="${#temporals.format(chord.createAt, 'yyyy.MM.dd')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 -->
            <div class="flex justify-between items-center p-2">
                <div class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path d="M7 3.5A1.5 1.5 0 0 1 8.5 2h3.879a1.5 1.5 0 0 1 1.06.44l3.122 3.12A1.5 1.5 0 0 1 17 6.622V12.5a1.5 1.5 0 0 1-1.5 1.5h-1v-3.379a3 3 0 0 0-.879-2.121L10.5 5.379A3 3 0 0 0 8.379 4.5H7v-1Z"/>
                        <path d="M4.5 6A1.5 1.5 0 0 0 3 7.5v9A1.5 1.5 0 0 0 4.5 18h7a1.5 1.5 0 0 0 1.5-1.5v-5.879a1.5 1.5 0 0 0-.44-1.06L9.44 6.439A1.5 1.5 0 0 0 8.378 6H4.5Z"/>
                    </svg>

                    <span class="text-sm" th:text="${results.number + 1} + ' / ' + ${results.totalPages}"></span>
                </div>

                <div>
                    <a th:if="${results.hasPrevious()}"
                       th:href="@{|/search?keyword=${keyword}&page=${results.number - 1}|}"
                       class="btn btn-sm">이전</a>

                    <a th:if="${results.hasNext()}"
                       th:href="@{|/search?keyword=${keyword}&page=${results.number + 1}|}"
                       class="btn btn-sm">다음</a>
                </div>
            </div>
        </div>

    </div>

</div>
</html>
